<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidluckyguys.org.kotlinsample">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExplicitIntentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ButtonClickDemoActivity" />
        <activity android:name=".ImplicitIntentActivity" />
        <activity
            android:name="com.example.admin.recyclerviewkotlin.RecylerViewDemo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExplicitIntentSecondActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ToolbarMenuHandlingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CameraAndGalleryIntentSample"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <!-- provider used to access storage-->

        <provider
            android:name="androidluckyguys.org.kotlinsample.GenericFileProvider"
            android:authorities="androidluckyguys.org.kotlinsample.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>